.vehicleDetails {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: lightgrey;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

tr {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: lightgray;
  color: #555 !important;
}

th {
  width: 10%;
  margin-bottom: 15px;
  overflow-x: auto;
  font-weight: bold;
}

td {
  padding: 5px;
  vertical-align: middle;
}

img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  th:nth-child(4),
  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(9),
  td:nth-child(4),
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(9) {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  th:nth-child(1),
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(9),
  td:nth-child(1),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(9) {
    display: none;
  }
}
