body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.App {
  text-align: center;
  width: 100%;
  padding: 15px;
}
.navbar {
  padding: 10px 20px;
  text-align: center;
}

.lightTheme {
  background-color: #ddd !important;
  color: #555 !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.lightThemeUI {
  background-color: #eee !important;
  color: #555 !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.darkTheme {
  background-color: #333 !important;
  color: #ddd !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.darkThemeUI {
  background-color: #555 !important;
  color: #ddd !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border-radius: 30px !important;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.7s ease !important;
}

button:hover {
  scale: 1.1;
  background-color: red;
}

#showCustomers {
  float: left;
  margin-right: 10px;
}

#toogleTheme {
  float: right;
  margin-left: 10px;
}

#discount {
  float: right !important;
  color: orange;
  font-weight: bold;
}

#discountDesc {
  display: none;
}

#discount:hover label {
  border: 1px solid;
}

@media only screen and (max-width: 700px) {
  button {
    border-radius: 20px !important;
  }
}
